@CHARSET "UTF-8";

body
{
    font-family:Gill Sans MT;
    padding:10px;
}
fieldset
{
    border: solid 1px #000;
    padding:10px;
    display:block;
    clear:both;
    margin:5px 0px;
}
legend
{
    padding:0px 10px;
    background:black;
    color:#FFF;
}
input.add
{
    float:right;
}

input.negated
{
    float:left;
    clear:left;
    display:block;
    margin:5px;
}
input.fieldname
{
    float:left;
    clear:left;
    display:block;
    margin:5px;
}

input.fieldvalue
{
    float:left;
    clear:left;
    display:block;
    margin:5px;
}
select.fieldvalue
{
    float:left;
    display:block;
    margin:5px;
}
input.remove
{
    float:left;
    display:block;
    margin:5px;
}
#yourform label
{
    float:left;
    clear:left;
    display:block;
    margin:5px;
}
#yourform input, #yourform textarea
{
    float:left;
    display:block;
    margin:5px;
}

/*
*/
.container {
    width: 600px;
}
.left {
    max-width: 100%;
    background:gray;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    float: left;
}
.right {
    background:gray;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
    -ms-text-overflow:ellipsis;
    text-align: right;
}