<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/templates/template.xhtml"
	xmlns:composite="http://java.sun.com/jsf/composite">

	<ui:define name="metadata">
	</ui:define>

	<ui:define name="content">

		<h:messages globalOnly="true" errorStyle="color: red"
			infoStyle="color: green" />

		<h:form>
			<p:panel id="basic" header="Add Trigger Point" footer=""
				style="margin-bottom:20px">

				<h:panelGrid columns="2" cellpadding="10">
					<h:outputLabel for="name" value="Name" />
					<p:inputText id="name" required="true" label="Name" size="32"
						value="#{triggerPointBean.tp.name}" />

					<h:outputLabel for="cnf" value="Condition Type CNF"
						 />
					<p:selectOneMenu id="cnf"
						value="#{triggerPointBean.tp.conditionTypeCnf}">
						<f:selectItem itemLabel="CONJUNCTIVE NORMAL FORM" itemValue="true" />
						<f:selectItem itemLabel="DISJUNCTIVE NORMAL FORM"
							itemValue="false" />
					</p:selectOneMenu>
				</h:panelGrid>

				<h:panelGrid columns="3" cellpadding="10">
					<h:outputLabel value="Number of attached SPT Groups"
					 />
					<p:outputLabel value="#{triggerPointBean.grpCount}" />
					<p:commandButton value="Remove Groups"
						action="#{triggerPointBean.clearSptGroupList}">
						<f:ajax event="click" immediate="true" execute="@form"
							render="@all" />
					</p:commandButton>
				</h:panelGrid>
				
			<p:fieldset legend="Service Point Triggers">
					<h:dataTable id="sptTbl" value="#{triggerPointBean.sptList}"
						var="spt">
						
						<h:column >
							<p:selectBooleanCheckbox value="#{spt.conditionNegated}" />
						</h:column>
						<h:column >
							<p:selectOneMenu id="type" value="#{spt.type}">
								<f:selectItem itemLabel="" itemValue="" />
								<f:selectItems value="#{triggerPointBean.sptTypeList}" />
							</p:selectOneMenu>
						</h:column>
						<h:column>
							<p:inputText id="sptData" value="#{spt.data}" />
						</h:column>
						<h:column>
							<p:commandButton id="remove" value="Remove" icon="ui-icon-minus"
								action="#{triggerPointBean.removeSpt(spt)}">
								<f:ajax event="click" immediate="true" render="sptTbl" />
							</p:commandButton>
						</h:column>

					</h:dataTable>
				</p:fieldset>
				<br/>
				<br/>

				<h:column>
					<p:commandButton id="add" value="Add SPT"
						action="#{triggerPointBean.addSpt}" icon="ui-icon-plus">
						<f:ajax event="click" immediate="true" render="sptTbl" />
					</p:commandButton>
				</h:column>

				<p:commandButton value="Attach SPT Group" icon="ui-icon-plus"
					action="#{triggerPointBean.saveSptGroup}">
					<f:ajax event="click" immediate="true" execute="@form"
						render="@all" />
				</p:commandButton>

				<p:commandButton value="Save Trigger Point"
					action="#{triggerPointBean.save}" icon="ui-icon-check">
					<f:ajax event="click" immediate="true" execute="@form"
						render="@all" />
				</p:commandButton>
			</p:panel>
		</h:form>

	</ui:define>

</ui:composition>