<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/templates/template.xhtml">

	<ui:define name="metadata">
	</ui:define>

	<ui:define name="content">

		<h:messages globalOnly="true" errorStyle="color: red"
			infoStyle="color: green" />

		<h:form>
			<p:panel id="basic" header="Add Subscription Profile" footer=""
				style="margin-bottom:20px">

				<h:panelGrid columns="2" cellpadding="10">

					<h:outputLabel for="name" value="Name" />
					<p:inputText id="name" required="true" label="Name" size="32"
						value="#{subscriptionProfileBean.subscriptionProfile.name}" />

					<h:outputLabel for="dsai" value="DSAI Value" />
					<p:selectOneMenu id="dsai"
						value="#{subscriptionProfileBean.subscriptionProfile.dsaiValue}" style="width: 243px !important">
						<f:selectItem itemLabel="" itemValue="" />
						<f:selectItems value="#{subscriptionProfileBean.dsaiValueList}" />
					</p:selectOneMenu>

					<h:outputLabel for="serviceProfile" value="Service Profile" />
					<p:selectOneMenu id="serviceProfile"
						value="#{subscriptionProfileBean.serviceProfileId}" style="width: 243px !important">
						<f:selectItem itemLabel="" itemValue="" />
						<f:selectItems
							value="#{subscriptionProfileBean.serviceProfileList}" />
					</p:selectOneMenu>
					
					<h:outputLabel for="scscf" value="Scscf" />
					<p:selectOneMenu id="scscf"
						value="#{subscriptionProfileBean.scscfUri}" style="width: 243px !important">
						<f:selectItem itemLabel="" itemValue="" />
						<f:selectItems
							value="#{subscriptionProfileBean.scscfList}" />
					</p:selectOneMenu>
				</h:panelGrid>
				<br/>
				<p:fieldset legend="Private Identity">
					<h:panelGrid columns="2" cellpadding="10">
						<p:outputLabel for="uri" value="URI" />
						<p:inputText id="uri" placeholder="alice@domain.com"
							required="true" label="uri" size="32"
							value="#{subscriptionProfileBean.impi.uri}" />

						<h:outputLabel for="pwd1" value="Secret Key (Password)" />
						<p:inputText id="pwd1" value="#{subscriptionProfileBean.password}" size="32"
							match="pwd2" label="Key " required="true" />
					</h:panelGrid>
				</p:fieldset>
				<br/>
				<p:fieldset legend="Attached IMS Public Identities">
					<p:dataTable id="impuTbl"
						value="#{subscriptionProfileBean.impuList}" var="impu">

						<p:column headerText="Idenyity Type">
							<h:outputLabel value="#{impu.identityType}" />
						</p:column>

						<p:column headerText="SIP URI">
							<h:outputLabel value="#{impu.sipUri}" />
						</p:column>

						<p:column headerText="Can Register">
							<h:outputLabel value="#{impu.canRegister}" />
						</p:column>

						<p:column headerText="Is Barred">
							<h:outputLabel value="#{impu.barringIndication}" />
						</p:column>

						<p:column headerText="Display Name">
							<h:outputLabel value="#{impu.psiActivation}" />
						</p:column>
						
						<p:column headerText="Visited Network Identifier">
							<h:outputLabel value="#{impu.visitedNetworkId}" />
						</p:column>

						<p:column>
							<p:commandButton id="remove" value="Remove" icon="ui-icon-minus"
								action="#{subscriptionProfileBean.removeImpu(impu)}">
								<f:ajax event="click" immediate="true" render="impuTbl" />
							</p:commandButton>
						</p:column>
					</p:dataTable>
				</p:fieldset>
				<br />
				<p:fieldset legend="Attach IMS Public Identity">
					<h:panelGrid columns="2" cellpadding="10">
					
						<h:outputLabel for="sipUri" value="SIP URI" />
						<p:inputText id="sipUri" label="SipUri" size="32"
							placeholder="sip:alice@domain.com"
							value="#{subscriptionProfileBean.impu.sipUri}" />

						<h:outputLabel for="idType" value="Identity Type" />
						<p:selectOneMenu id="idType" value="#{subscriptionProfileBean.impu.identityType}" style="width: 243px !important">
							<f:selectItems value="#{subscriptionProfileBean.identityTypeList}" />
						</p:selectOneMenu>

						<h:outputLabel for="barring" value="Barring" />
						<p:selectOneMenu id="barring"
							value="#{subscriptionProfileBean.impu.barringIndication}" style="width: 243px !important">
							<f:selectItem itemLabel="False" itemValue="false" />
							<f:selectItem itemLabel="True" itemValue="true" />
						</p:selectOneMenu>

						<h:outputLabel for="canRegister" value="Can Register" />
						<p:selectOneMenu id="canRegister"
							value="#{subscriptionProfileBean.impu.canRegister}" style="width: 243px !important">
							<f:selectItem itemLabel="True" itemValue="true" />
							<f:selectItem itemLabel="False" itemValue="false" />
						</p:selectOneMenu>

						<h:outputLabel for="displayName" value="Display Name" />
						<p:inputText id="displayName" label="DisplayName" size="32"
							value="#{subscriptionProfileBean.impu.displayName}" />

						<h:outputLabel for="psiActiviation" value="PSI Activation" />
						<p:selectOneMenu id="psiActivation"
							value="#{subscriptionProfileBean.impu.psiActivation}" style="width: 243px !important">
							<f:selectItems
								value="#{subscriptionProfileBean.psiActivationList}" />
						</p:selectOneMenu>
						
						<h:outputLabel for="vnId" value="Visited Network Identifier" />
						<p:selectOneMenu id="vnId" value="#{subscriptionProfileBean.impu.visitedNetworkId}" style="width: 243px !important">
							<f:selectItems value="#{subscriptionProfileBean.visitedNetworkList}" />
						</p:selectOneMenu>
					</h:panelGrid>
					<br />
					<p:commandButton value="Attach" icon="ui-icon-plus"
						action="#{subscriptionProfileBean.addImpu}">
						<f:ajax event="click" immediate="true" execute="@form"
							render="@all" />
					</p:commandButton>
				</p:fieldset>
				<br />
				<p:commandButton value="Save Subscription Profile"
					action="#{subscriptionProfileBean.save}" icon="ui-icon-check">
					<f:ajax event="click" immediate="true" execute="@form"
						render="@all" />
				</p:commandButton>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>