<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/templates/template.xhtml">

	<ui:define name="metadata">
	</ui:define>

	<ui:define name="content">

		<h:messages globalOnly="true" errorStyle="color: red"
			infoStyle="color: green" />

		<h:form>
			<p:panel id="basic" header="Add Service Profile" footer=""
				style="margin-bottom:20px">

				<h:panelGrid columns="2" cellpadding="10">

					<h:outputLabel for="name" value="Name" />
					<p:inputText id="name" required="true" label="Name" size="32"
						value="#{serviceProfileBean.sp.name}" />
				</h:panelGrid>
				<br />

				<p:fieldset legend="Attached iFCs">
					<p:dataTable id="ifcTbl" value="#{serviceProfileBean.ifcList}"
						var="ifc">

						<p:column headerText="Priority">
							<h:outputLabel value="#{ifc.priority}" />
						</p:column>

						<p:column headerText="iFC Name">
							<h:outputLabel value="#{ifc.name}" />
						</p:column>

						<p:column headerText="Application Server">
							<h:outputLabel value="#{ifc.appServer.name}" />
						</p:column>

						<p:column headerText="Trigger Point">
							<h:outputLabel value="#{ifc.triggerPoint.name}" />
						</p:column>

						<p:column headerText="Profile Part Indicator">
							<h:outputLabel value="#{ifc.profilePartIndicator}" />
						</p:column>

						<p:column>
							<p:commandButton id="remove" value="Remove" icon="ui-icon-minus"
								action="#{serviceProfileBean.removeIfc(ifc)}">
								<f:ajax event="click" immediate="true" render="ifcTbl" />
							</p:commandButton>
						</p:column>
					</p:dataTable>
				</p:fieldset>

				<br />
				<br />
				<p:fieldset legend="Attach iFC to Service Profile">
					<h:panelGrid columns="2" cellpadding="10">
						<h:outputLabel for="ifcName" value="iFC Name" />
						<p:inputText id="ifcName" label="Name" size="32"
							value="#{serviceProfileBean.ifc.name}" />

						<h:outputLabel for="as" value="Application Server" />

						<p:selectOneMenu id="as"
							value="#{serviceProfileBean.asId}"
							style="width: 243px !important">
							<f:selectItems value="#{serviceProfileBean.asList}" />
						</p:selectOneMenu>

						<h:outputLabel for="tp" value="Trigger Point" />
						<p:selectOneMenu id="tp"
							value="#{serviceProfileBean.tpId}"
							style="width: 243px !important">
							<f:selectItems value="#{serviceProfileBean.tpList}" />
						</p:selectOneMenu>

						<h:outputLabel for="ppi" value="Profile Part Indicator" />
						<p:selectOneMenu id="ppi"
							value="#{serviceProfileBean.ifc.profilePartIndicator}"
							style="width: 243px !important">
							<f:selectItems value="#{serviceProfileBean.ppiList}" />
						</p:selectOneMenu>
					</h:panelGrid>
					<br />
					<p:commandButton value="Attach" icon="ui-icon-plus"
						action="#{serviceProfileBean.addIfc}">
						<f:ajax event="click" immediate="true" execute="@form"
							render="@all" />
					</p:commandButton>
				</p:fieldset>
				<br />
				<p:commandButton value="Save Service Profile"
					action="#{serviceProfileBean.save}" icon="ui-icon-check">
					<f:ajax event="click" immediate="true" execute="@form"
						render="@all" />
				</p:commandButton>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>