<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/templates/template.xhtml">

	<ui:define name="metadata">
	</ui:define>

	<ui:define name="content">

		<h:messages globalOnly="true" errorStyle="color: red"
			infoStyle="color: green" />

		<h:form>
			<p:panel id="basic" header="Add Visited Network" footer=""
				style="margin-bottom:20px">
				<h:panelGrid columns="2" cellpadding="10">
					<h:outputLabel for="name" value="Name" />
					<p:inputText id="name" required="true" label="Name" size="32"
						value="#{visitedNetworkBean.vn.name}" />

					<p:commandButton value="Save Visited Network" action="#{visitedNetworkBean.save}"
						icon="ui-icon-check">
						<f:ajax event="click" immediate="true" execute="@form"
							render="@all" />
					</p:commandButton>
				</h:panelGrid>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>