<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/templates/template.xhtml">

	<ui:define name="metadata">
	</ui:define>

	<ui:define name="content">

		<h:messages globalOnly="true" errorStyle="color: red"
			infoStyle="color: green" />

		<h:form>
			<p:panel id="basic" header="Add Application Server" footer=""
				style="margin-bottom:20px">

				<h:panelGrid columns="2" cellpadding="10">

					<h:outputLabel for="name" value="Name" />
					<p:inputText id="name" required="true" label="Name" size="32"
						value="#{appServerBean.as.name}" />

					<h:outputLabel for="sipUri" value="SIP URI" />
					<p:inputText id="sipUri" required="true" label="sipUri" size="32"
						value="#{appServerBean.as.serverName}" />

					<h:outputLabel for="diameterUri" value="Diameter URI" />
					<p:inputText id="diameterUri" label="diameterUri" size="32"
						value="#{appServerBean.as.diameterUri}" />

				</h:panelGrid>
				<br />
				<p:fieldset legend="Application Server - HSS FE Interaction">
					<p:panelGrid columns="3" cellpadding="10">

						<p:outputLabel value="Sh Permissions" style="font-weight:bold" />
						<p:outputLabel value="UDR" style="font-weight:bold" />
						<p:outputLabel value="PUR" style="font-weight:bold" />

						<p:outputLabel value="Allow Request" />
						<p:selectBooleanCheckbox value="#{appServerBean.udr.isAllowed}" />
						<p:selectBooleanCheckbox value="#{appServerBean.pur.isAllowed}" />

						<p:outputLabel value="Aliases-Repository-Data" />
						<p:selectBooleanCheckbox
							value="#{appServerBean.udr.aliasesRepositoryData}" />
						<p:outputLabel value="" />

						<p:outputLabel value="Charging-Info" />
						<p:selectBooleanCheckbox value="#{appServerBean.udr.chargingInfo}" />
						<p:outputLabel value="" />

						<p:outputLabel value="DSAI" />
						<p:selectBooleanCheckbox value="#{appServerBean.udr.dsai}" />
						<p:selectBooleanCheckbox value="#{appServerBean.pur.dsai}" />

						<p:outputLabel value="iFC" />
						<p:selectBooleanCheckbox value="#{appServerBean.udr.ifc}" />
						<p:outputLabel value="" />

						<p:outputLabel value="IMPU" />
						<p:selectBooleanCheckbox
							value="#{appServerBean.udr.impuIdentifier}" />
						<p:outputLabel value="" />

						<p:outputLabel value="IMS-User-State" />
						<p:selectBooleanCheckbox value="#{appServerBean.udr.imsUserState}" />
						<p:outputLabel value="" />

						<p:outputLabel value="PSI Activation" />
						<p:selectBooleanCheckbox
							value="#{appServerBean.udr.psiActivation}" />
						<p:selectBooleanCheckbox
							value="#{appServerBean.pur.psiActivation}" />

					</p:panelGrid>
				</p:fieldset>
				<br />
				<p:commandButton value="Save Application Server"
					action="#{appServerBean.save}" icon="ui-icon-check">
					<f:ajax event="click" immediate="true" execute="@form"
						render="@all" />
				</p:commandButton>
			</p:panel>
		</h:form>
	</ui:define>

</ui:composition>