<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/templates/template.xhtml">

	<ui:define name="metadata">
	</ui:define>

	<ui:define name="content">

		<h:messages globalOnly="true" errorStyle="color: red"
			infoStyle="color: green" />

		<h:form>
			<p:panel id="basic" header="List of Registered Application Servers"
				footer="" style="margin-bottom:20px">

				<h:panelGrid columns="3" cellpadding="10">
					<p:dataTable id="tpTbl" value="#{appServerBean.asList}" var="as">

						<p:column headerText="S/N">
							<h:outputLabel value="#{as.id}" />
						</p:column>
						
						<p:column headerText="Name">
							<h:outputLabel value="#{as.name}" />
						</p:column>

						<p:column headerText="SIP URI">
							<h:outputLabel value="#{as.serverName}" />
						</p:column>

						<p:column headerText="Diameter URI">
							<h:outputLabel value="#{as.diameterUri}" />
						</p:column>
					</p:dataTable>
				</h:panelGrid>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>