<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/templates/template.xhtml">

	<ui:define name="metadata">
	</ui:define>

	<ui:define name="content">

		<h:messages globalOnly="true" errorStyle="color: red"
			infoStyle="color: green" />

		<h:form>
			<p:panel id="basic" header="List of Registered Service Profiles"
				footer="" style="margin-bottom:20px">

				<h:panelGrid columns="2" cellpadding="10">
					<p:dataTable id="tpTbl" value="#{serviceProfileBean.spList}"
						var="sp">

						<p:column headerText="Name" style="width:200px">
							<h:outputLabel value="#{sp.name}" />
						</p:column>

						<p:column headerText="Attached iFCs">
							<p:dataTable value="#{sp.ifcList}" var="ifc">
								<p:column headerText="Priority">
									<h:outputLabel value="#{ifc.priority}" />
								</p:column>
								<p:column headerText="iFC Name">
									<h:outputLabel value="#{ifc.name}" />
								</p:column>
								<p:column headerText="Application Server">
									<h:outputLabel value="#{ifc.appServer.name}" />
								</p:column>
								<p:column headerText="Trigger Point">
									<h:outputLabel value="#{ifc.triggerPoint.name}" />
								</p:column>
								<p:column headerText="Profile Part Indicator">
									<h:outputLabel value="#{ifc.profilePartIndicator}" />
								</p:column>
							</p:dataTable>
						</p:column>
					</p:dataTable>
				</h:panelGrid>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>