<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/templates/template.xhtml">

	<ui:define name="metadata">
	</ui:define>

	<ui:define name="content">

		<h:messages globalOnly="true" errorStyle="color: red"
			infoStyle="color: green" />

		<h:form>
			<p:panel id="basic" header="List of Registered Identities" footer=""
				style="margin-bottom:20px">

				<h:panelGrid columns="2" cellpadding="10">
					<p:dataTable id="riTbl" value="#{registeredIdentityBean.riList}"
						var="ri">

						<p:column headerText="S/N" style="width:40px">
							<h:outputLabel value="#{ri.id}" />
						</p:column>

						<p:column headerText="IMPI">
							<h:outputLabel value="#{ri.impi}" />
						</p:column>

						<p:column headerText="IMPU">
							<h:outputLabel value="#{ri.impu}" />
						</p:column>

						<p:column headerText="Auth Scheme">
							<h:outputLabel value="#{ri.authScheme}" />
						</p:column>

						<p:column headerText="User State">
							<h:outputLabel value="#{ri.userState}" />
						</p:column>

						<p:column headerText="S-CSCF">
							<h:outputLabel value="#{ri.scscfName}" />
						</p:column>

					</p:dataTable>
				</h:panelGrid>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>