<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/templates/template.xhtml">

	<ui:define name="metadata">
	</ui:define>

	<ui:define name="content">

		<h:messages globalOnly="true" errorStyle="color: red"
			infoStyle="color: green" />

		<h:form>
			<p:panel id="basic" header="List of Registered Scscfs" footer=""
				style="margin-bottom:20px">
				<p:dataTable id="scscfTbl" value="#{scscfBean.scscfList}" var="s">

					<p:column headerText="S/N">
						<h:outputLabel value="#{s.id}" />
					</p:column>
					<p:column headerText="Name">
						<h:outputLabel value="#{s.name}" />
					</p:column>

					<p:column headerText="SIP URI">
						<h:outputLabel value="#{s.sipUri}" />
					</p:column>

					<p:column headerText="Diameter URI">
						<h:outputLabel value="#{s.diameterUri}" />
					</p:column>
				</p:dataTable>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>