<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/templates/template.xhtml">

	<ui:define name="metadata">
	</ui:define>

	<ui:define name="content">

		<h:messages globalOnly="true" errorStyle="color: red"
			infoStyle="color: green" />

		<h:form>
			<p:panel id="basic" header="List of Saved XCAP Documents" footer=""
				style="margin-bottom:20px">
				<p:dataTable id="docTbl" value="#{XcapDocumentBean.docList}"
					var="doc">
					<p:column headerText="S/N" style="width:30px">
						<h:outputLabel value="#{doc.id}" />
					</p:column>
					<p:column headerText="AppUsage">
						<h:outputLabel value="#{doc.appUsage}" />
					</p:column>
					<p:column headerText="Doc Name">
						<h:outputLabel value="#{doc.name}" />
					</p:column>
					<p:column headerText="XUI">
						<h:outputLabel value="#{doc.xui}" />
					</p:column>
					<p:column headerText="eTag">
						<h:outputLabel value="#{doc.eTag}" />
					</p:column>
				</p:dataTable>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>