<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/templates/template.xhtml">

	<ui:define name="metadata">
	</ui:define>

	<ui:define name="content">

		<h:messages globalOnly="true" errorStyle="color: red"
			infoStyle="color: green" />

		<h:form>
			<p:panel id="basic" header="List of Registered Trigger Points"
				footer="" style="margin-bottom:20px">
				<p:dataTable id="tpTbl" value="#{triggerPointBean.tpList}" var="tp">

					<p:column headerText="S/N" style="width:40px">
						<h:outputLabel value="#{tp.id}" />
					</p:column>
					<p:column headerText="Name" style="width:150px">
						<h:outputLabel value="#{tp.name}" />
					</p:column>

					<p:column headerText="Condition Type CNF" style="width:150px">
						<h:outputLabel value="#{tp.conditionTypeCnf}" />
					</p:column>

					<p:column headerText="SPT List">
						<p:dataTable value="#{tp.sptList}" var="spt">
							<p:column headerText="Group ID">
								<h:outputLabel value="#{spt.grpId}" />
							</p:column>
							<p:column headerText="Negated">
								<h:outputLabel value="#{spt.conditionNegated}" />
							</p:column>
							<p:column headerText="Type">
								<h:outputLabel value="#{spt.type}" />
							</p:column>
							<p:column headerText="Data">
								<h:outputLabel value="#{spt.data}" />
							</p:column>
						</p:dataTable>
					</p:column>
				</p:dataTable>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>