<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/templates/template.xhtml">

	<ui:define name="metadata">
	</ui:define>

	<ui:define name="content">

		<h:messages globalOnly="true" errorStyle="color: red"
			infoStyle="color: green" />

		<h:form>
			<p:panel id="basic" header="List of Registered Subscription Profiles"
				footer="" style="margin-bottom:20px">
				<h:panelGrid columns="2" cellpadding="10">
					<p:dataTable id="subsTbl"
						value="#{subscriptionProfileBean.subscriptionProfileList}"
						var="subsp">
						<p:column headerText="S/N" style="width:30px">
							<h:outputLabel value="#{subsp.id}" />
						</p:column>

						<p:column headerText="Name" style="width:100px">
							<h:outputLabel value="#{subsp.name}" />
						</p:column>

						<p:column headerText="Service Profile" style="width:80px">
							<h:outputLabel value="#{subsp.serviceProfile.name}" />
						</p:column>

						<p:column headerText="Private Identity" style="width:150px">
							<h:outputLabel value="#{subsp.impi.uri}" />
						</p:column>

						<p:column headerText="Public Identities">
							<p:dataTable value="#{subsp.impuList}" var="impu">
							
								<p:column headerText="SIP URI">
									<h:outputLabel value="#{impu.sipUri}" />
								</p:column>
								<p:column headerText="Identity Type" style="width:200px">
									<h:outputLabel value="#{impu.identityType}" />
								</p:column>
								<p:column headerText="Can Register" style="width:50px">
									<h:outputLabel value="#{impu.canRegister}" />
								</p:column>
								<p:column headerText="Is Barred" style="width:50px">
									<h:outputLabel value="#{impu.barringIndication}" />
								</p:column>
								<p:column headerText="PSI Activation" style="width:80px">
									<h:outputLabel value="#{impu.psiActivation}" />
								</p:column>
								<p:column headerText="User State">
									<h:outputLabel value="#{impu.imsUserState}" />
								</p:column>
							</p:dataTable>
						</p:column>
					</p:dataTable>
				</h:panelGrid>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>