<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/templates/template.xhtml">

	<ui:define name="metadata">
	</ui:define>

	<ui:define name="content">

		<h:messages globalOnly="true" errorStyle="color: red"
			infoStyle="color: green" />

		<h:form>
			<p:panel id="basic" header="List of Registered FEs" footer=""
				style="margin-bottom:20px">
				<p:dataTable id="feTbl" value="#{feBean.feDataSet}"
					var="fe">
					<p:column headerText="S/N" style="width:30px">
						<h:outputLabel value="#{fe.id}" />
					</p:column>
					<p:column headerText="Name">
						<h:outputLabel value="#{fe.name}" />
					</p:column>
					<p:column headerText="OData Namespace">
						<h:outputLabel value="#{fe.odataNamespace}" />
					</p:column>
					<p:column headerText="AppView ID">
						<h:outputLabel value="#{fe.appViewId}" />
					</p:column>
				</p:dataTable>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>