<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core"
	template="/templates/template.xhtml">

	<ui:define name="metadata">
	</ui:define>

	<ui:define name="content">

		<h:messages globalOnly="true" errorStyle="color: red"
			infoStyle="color: green" />

		<h:form>
			<p:panel id="basic" header="List of Stored Session Data" footer=""
				style="margin-bottom:20px">

				<h:panelGrid columns="2" cellpadding="10">
					<p:dataTable id="dataTbl" value="#{clientSessionDataBean.dataList}"
						var="data">

						<p:column headerText="Subscriber IMPU">
							<h:outputLabel value="#{data.id}" />
						</p:column>

						<p:column headerText="Last Known Session Id">
							<h:outputLabel value="#{data.lastKnownSessionId}" />
						</p:column>

						<p:column headerText="Last Known State">
							<h:outputLabel value="#{data.lastKnownState}" />
						</p:column>

						<p:column headerText="User Agent">
							<h:outputLabel value="#{data.userAgent}" />
						</p:column>

						<p:column headerText="Media Type">
							<h:outputLabel value="#{data.mediaType}" />
						</p:column>

						<p:column headerText="Media Port">
							<h:outputLabel value="#{data.mediaPort}" />
						</p:column>
						<p:column headerText="Media Protocol">
							<h:outputLabel value="#{data.mediaProtocol}" />
						</p:column>

					</p:dataTable>
				</h:panelGrid>
			</p:panel>
		</h:form>
	</ui:define>
</ui:composition>