
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui"
	xmlns:f="http://java.sun.com/jsf/core">
<h:form>
    <p:growl autoUpdate="true"/>
 
    <p:panelMenu style="width:250px">
      
        <p:submenu label="Subscription Profile">
        	<p:submenu label="Service Provile" >
                    <p:menuitem value="Add" url="add_service_profile.xhtml"/>
                    <p:menuitem value="View" url="view_service_profile.xhtml"  />
            </p:submenu>
            <p:submenu label="Trigger Point" >
                    <p:menuitem value="Add" url="add_trigger_point.xhtml"/>
                    <p:menuitem value="View" url="view_trigger_points.xhtml"  />
            </p:submenu>
              <p:submenu label="Scscf" >
                    <p:menuitem value="Add" url="add_scscf.xhtml" />
                    <p:menuitem value="View" url="view_scscfs.xhtml" />
            </p:submenu>
          
             <p:submenu label="Application Server" >
                    <p:menuitem value="Add" url="add_app_server.xhtml" />
                    <p:menuitem value="View" url="view_app_servers.xhtml" />
            </p:submenu>
        </p:submenu>
        <p:separator />
        <p:submenu label="Visited Network" >
                <p:submenu label="iFC" >
                    <p:menuitem value="Add" url="add_visited_network.xhtml"  />
                    <p:menuitem value="View" url="view_visited_network.xhtml"  />
                </p:submenu>
        </p:submenu>
        <p:separator />
        <p:menuitem value="Client Session Data" url="view_client_session_data_set.xhtml" />
        <p:separator />
        <p:menuitem value="Registered Subscriber Identities" url="view_registered_identities.xhtml" />
        <p:separator />
         <p:submenu label="Front Ends" >
                    <p:menuitem value="Add" url="add_registered_fe.xhtml" />
                    <p:menuitem value="View" url="view_registered_fes.xhtml" />
           </p:submenu>
        <p:separator />
        <p:menuitem value="Saved XCAP Documents" url="view_xcap_documents.xhtml" />
       
    </p:panelMenu>
</h:form>
</ui:composition>


